.list {
  display: flex;
  justify-content: space-around;
}

.title {
  display: flex;
}



.list-nav {
  display: flex;
  justify-content: space-around;
}

p {
  padding: 12px;
}

a {
  text-decoration: none;
}
