<div class="container">
  <div><h1> To Do List 🚀</h1></div>
  <ol>
    <% @lists.each do |list| %>
      <li><%= link_to list do %>
        <%= list.title %></li>
      <% end %>
    <% end %>
  </ol>

  <p> <%= link_to "Create new list", new_list_path  %> </p>
</div>
