<div class="container footer">
  <div class="footer-links">
    <a href="https://github.com/hugoborgesuk"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/hugo-b-248b79115/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Created by Hugo Borges
  </div>
</div>
